
results {
    font-family: sans-serif; 
    display:block;
}

resource {
    display: block ;
    margin: 2em; 
    padding:1em;
    background:#eef;
}

name {
     display: block;
     font-weight:bold;
     padding:0.5em;
}


arg {
    margin:1em;
    background:#fff;
    display:block;
    
}

description {
    color:#999;
    margin: 1em;
}
